
iframe {
    background-color: black;
    width: 70vw;
    height: auto;
    min-height: 40vw;
  }

.col-info{
    padding: 0;
}

li{
    cursor: pointer;
}

.latino{
    color: white;
}


.container-modal{
    background-color: white;
    padding: 15px;
}

h5{
    font-size: larger;
    font-weight: 500;
  }
p{
    color: black;
    text-align: justify;
}

.info{
    text-align: left;
    color: black;
}

.btn-download {
    background: #dc3545; 
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    padding: 12px 24px;
  
    display: flex;
    align-items: center;
    gap: 10px;
  
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: 0.3s;
  }
  
  .btn-download:hover {
    background: #bb2d3b;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  }
  
  .btn-download fa-icon {
    font-size: 18px;
  }