<body>
  <loading *ngIf="loading"></loading>
  <ng-container *ngIf="type == 'movie'">
    <h5>
      <b class="divider-title">|</b>
      Películas
      {{
        query == "popular"
          ? "Populares"
          : query == "upcoming"
          ? "Por Estrenarse"
          : query == "now_playing"
          ? "En Cartelera"
          : " Mejor Rankeadas"
      }}
    </h5>
    <div class="container text-center">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
        <div class="col" *ngFor="let movie of dataInfo">
          <div class="card">
            <img
              (click)="goToVideoDetail(movie)"
              class="img-movie shadow p-3 bg-body-tertiary rounded"
              [src]="getImage(movie.poster_path)"
            />
            <h3 class="text-title">{{ movie.title }}</h3>
            <div class="rating mb-3">
              <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
                <fa-icon
                  [matTooltip]="
                    star == 1 ? ' 1 estrella' : star.toString() + ' estrellas'
                  "
                  [icon]="faStarOutline"
                  [class.filled]="star <= getStars(movie.vote_average)"
                >
                </fa-icon>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="type == 'tv'">
    <h5>
      <b class="divider-title">|</b>
      Series
      {{
        query == "popular"
          ? "Populares"
          : query == "airing_today"
          ? "Emitidas Actualmente"
          : "Mejor Rankeadas"
      }}
    </h5>
    <div class="container text-center">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
        <div class="col" *ngFor="let serie of dataInfo">
          <div class="card">
            <img
              (click)="goToVideoDetail(serie)"
              class="img-movie shadow p-3 bg-body-tertiary rounded"
              [src]="getImage(serie.poster_path)"
            />
            <h3 class="text-title">{{ serie.name }}</h3>
            <div class="rating mb-3">
              <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
                <fa-icon
                  [matTooltip]="
                    star == 1 ? ' 1 estrella' : star.toString() + ' estrellas'
                  "
                  [icon]="faStarOutline"
                  [class.filled]="star <= getStars(serie.vote_average)"
                >
                </fa-icon>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</body>
