<body style="overflow-x: hidden">
  <div class="sidebar">
    <div class="sidebar-brand">
      <h2>
        <span>
          <img src="assets/logo2.svg" alt="" /> </span
        ><span>House of Movies</span>
      </h2>
    </div>

    <!--Opciones del menú lateral-->
    <div class="sidebar-menu">
      <ul>
        <li>
          <a [class.active]="indice === 0" (click)="cambiarIndice(0)">
            <span><fa-icon [icon]="faHome"></fa-icon></span>
            <span>Home</span>
          </a>
        </li>
        <li>
          <a [class.active]="indice === 1" (click)="cambiarIndice(1)">
            <span><fa-icon [icon]="faMovie"></fa-icon></span>
            <span>Películas</span></a
          >
        </li>
        <li>
          <a [class.active]="indice === 2" (click)="cambiarIndice(2)">
            <span><fa-icon [icon]="faSerie"></fa-icon></span>
            <span>Series</span></a
          >
        </li>
        <li>
          <a [class.active]="indice === 3" (click)="cambiarIndice(3)">
            <span><fa-icon [icon]="faSearch"></fa-icon></span>
            <span>Buscar</span></a
          >
        </li>
      </ul>
    </div>
  </div>

  <div class="main-content">
    <main>
      <router-outlet></router-outlet>
    </main>
  </div>
</body>
