<body>
  <loading *ngIf="loading"></loading>
  <mat-tab-group
    (selectedTabChange)="changeTab($event)"
    class="container"
  >
    <mat-tab label="Información">
      <div class="container text-center">
        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2">
          <div class="d-flex pt-3 col-12 col-md-3 justify-content-center">
            <img
              [src]="getImage(infoSerie?.poster_path, 250, 325)"
              [alt]="infoSerie?.name"
            />
          </div>
          <div class="pt-3 col-12 col-md-9">
            <h1 class="fw-bold text-center">{{ infoSerie?.name }}</h1>
            <p>{{ infoSerie?.overview }}</p>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 pt-3">
              <div>
                <h4 class="info">
                  <b>Primer episodio:</b>
                  {{ formatDate(infoSerie?.first_air_date) }}
                </h4>
                <h4 class="info">
                  <b>Último episodio:</b>
                  {{ formatDate(infoSerie?.last_air_date) }}
                </h4>
                <h4 class="info"><b>Estado:</b> {{ infoSerie?.status }}</h4>
                <h4 class="info">
                  <b>Producción: </b>
                  <mat-chip-listbox>
                    <mat-chip
                      disabled
                      *ngFor="let company of infoSerie?.production_companies"
                    >
                      {{ company?.name }}
                    </mat-chip>
                  </mat-chip-listbox>
                </h4>
              </div>
              <div>
                <h4 *ngIf="infoSerie?.next_episode_to_air" class="info">
                  <b>Próximo episodio:</b>
                  {{ formatDate(infoSerie?.next_episode_to_air.air_date) }}
                </h4>
                <h4 class="info">
                  <b>Genero:</b>
                  <mat-chip-listbox>
                    <mat-chip
                      class="chip"
                      [routerLink]="'/genre/' + genre.id + '/' + 'serie'"
                      *ngFor="let genre of infoSerie?.genres"
                    >
                      {{ genre?.name }}
                    </mat-chip>
                  </mat-chip-listbox>
                </h4>
                <h4 class="info">
                  <b>Lenguaje:</b> {{ infoSerie?.original_language }}
                </h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>

    <mat-tab *ngIf="infoSerie?.videos?.results?.length > 0" label="Videos">
      <div class="d-flex flex-wrap">
        <div
          class="col-md-6 col-12 col-lg-6 p-2"
          *ngFor="let video of infoSerie?.videos?.results"
        >
          <div class="video p-2">
            <img
              class="img-video shadow p-2 bg-body-tertiary rounded"
              [src]="getImageVideo(video)"
            />

            <button (click)="goToVideo(video?.key)" class="play">
              <fa-icon [icon]="faPlay"></fa-icon>
            </button>
            <h2>{{ video?.name }}</h2>
            <h3>{{ video?.type }}</h3>
          </div>
        </div>
      </div>
    </mat-tab>

    <mat-tab *ngIf="infoSerie?.images" label="Fotos">
      <div *ngIf="infoSerie.images?.backdrops?.length > 0">
        <div class="pt-2 pb-2">
          <h5><b class="divider-title">|</b> Backdrops</h5>
        </div>
        <div class="d-flex flex-wrap">
          <div
            class="col-md-3 col-3 col-lg-3 p-2"
            *ngFor="let media of infoSerie.images?.backdrops"
          >
            <div (click)="goToImage(media?.file_path)" class="card">
              <img
                alt="image"
                class="img-movie img-fluid shadow p-2 bg-body-tertiary rounded"
                [src]="getImage(media?.file_path, 200, 300)"
              />
              <button class="view">
                <fa-icon [icon]="faEye"></fa-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="infoSerie.images.logos.length > 0">
        <div class="pt-2 pb-2">
          <h5><b class="divider-title">|</b> Logos</h5>
        </div>
        <div class="d-flex flex-wrap">
          <div
            class="col-md-3 col-3 col-lg-3 p-2"
            *ngFor="let media of infoSerie.images.logos"
          >
            <div (click)="goToImage(media.file_path)" class="card">
              <img
                alt="image"
                class="img-movie img-fluid shadow p-2 bg-body-tertiary rounded"
                [src]="getImage(media.file_path, 200, 300)"
              />
              <button class="view">
                <fa-icon [icon]="faEye"></fa-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="infoSerie.images.posters.length > 0">
        <div class="pt-2 pb-2">
          <h5><b class="divider-title">|</b> Posters</h5>
        </div>
        <div class="d-flex flex-wrap">
          <div
            class="col-md-3 col-3 col-lg-3 p-2"
            *ngFor="let media of infoSerie.images.posters"
          >
            <div (click)="goToImage(media.file_path)" class="card">
              <img
                alt="image"
                class="img-movie img-fluid shadow p-2 bg-body-tertiary rounded"
                [src]="getImage(media.file_path, 200, 300)"
              />
              <button class="view">
                <fa-icon [icon]="faEye"></fa-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
  <div *ngIf="selectOverview">
    <br />
    <div class="container" *ngIf="seasons">
      <app-slider-seasons
        [videoTitle]="'Temporadas'"
        [seasons]="seasons"
        [api]="api"
        [infoSeasons]="infoSerie.seasons"
      ></app-slider-seasons>
    </div>
    <br />
    <div class="container" *ngIf="recommendations.length > 0">
      <app-slider-serie
        [videoTitle]="'Recomendaciones'"
        [arrayVideosDetail2]="recommendations"
      ></app-slider-serie>
    </div>
    <br />
    <div class="container" *ngIf="infoSerie.credits.cast.length > 0">
      <app-slider-person
        [videoTitle]="'Elenco'"
        [arrayVideosDetail1]="infoSerie.credits.cast"
      ></app-slider-person>
    </div>
  </div>
</body>
